@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --maincolor: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    font-family: 'Roboto', sans-serif;
}

body {
    
    background-color: var(--bg);
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--maincolor);
    font-family: "Orbitron"sans-serif;

}

.Header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.icons i {
    margin: 0.5rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 2rem;

}
.stars{
    color: #fff;
    font-size: 2rem;
}

.container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container-img section {
    display: flex;
    align-items: center;
    height: 100vh;
}
.icons i:hover {
    width: 40px;
    height: 40px;

}

.box-container .nav-bar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.nav-bar a{
    margin:0 1rem ;
    color: #fff;
    font-size: 2rem;
    

}

.nav-bar a:hover {
    color: #d3ad7f;
    border-bottom: 0.5rem solid #d3ad7f;
    padding-bottom: 0.5rem;
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn {
    background: var(--maincolor);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}

.btn:hover {
    letter-spacing: 0.1rem;
}

.container {
    background: url(./img/home-img.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;

}
.container-img{
    background: url(/img/fundo_escuro_loja_cafe.png);
    height: 10 0vh;
    background-position: center;
    background-size: cover;
    
}
.content {
    max-width: 100rem;
}

h3 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
    margin: 6rem;
    text-align: center;

}

.abaout {
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -4;

}

.titulo {
    font-size: 4rem;
    color: var(--maincolor);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;

}

.titulo span {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.text p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;


}

.abaout .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1rem;
}

.abaout .row .text {
    padding: 2rem;


}

.abaout .row .text h3 {
    font-size: 3rem;
    color: #fff;

}

.abaout .row .text p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;

}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.Menu .box-container .box{
    text-align: center;
    border:var(--border) ;
    padding: 5rem;
    cursor: pointer;

}
.Menu .box-container .box img{
    height: 10rem;

}
.Menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.price{
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem;
}
.Menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.Menu .box-container .box:hover{
    background-color: #fff;

}
.Menu .box-container .box:hover>*{
    color: var(--black);

}
.share{
    color: #fff;
    font-size: 2rem;
}
.Review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;

}
.Review .box-container .box p{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}
.Review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.Review .box-container .box h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.address{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.footer{
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share i{
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}
.footer .share i:hover{
    background: var(--maincolor);
}
.reserved{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    background: radial-gradient(circle at center, #121212, #000);
    align-items: center;
    height: 20px;
    text-align: center;
    box-shadow: #000;
    background-size: 200% 200%;
    animation: shine 5s infinite linear;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
@keyframes shine {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
html {
    scroll-behavior: smooth;
}