@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    background: url(./img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

span{
    color: #008afc;
}

p{
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
