@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
body{
    background: url(./img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;;
    background: transparent;
    border: 2px solid #fffdfd;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 40px rgba(0,0,0,0.5);
    padding: 30px 40px;
    
}
.login-form{
    color: #ffffff;

}
.input-group{
    width: 92%;
    height: 100%;
    margin: 30px;
    color: #ffffff;


}
.input-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.938);
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.input-group input::placeholder{
    color: #ffffff;
}

.input-group a{
    text-decoration: none;
    outline: none;
    color: #ffffff;
    text-align: center;
    align-items: center;
}
button{
    width: 100%;
    height: 50px;
    border: none;
    background: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem;
}


.register-link a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}


.register-link p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;

}
.register-link p a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;

}
.register-link{
    text-align: center;
    margin-top: 20px 0px;
}

h1{
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2.5rem;
}
.fa-solid{
    position: absolute;
    right: 24px;
    margin-top: 5px;

}
.btn{
    position: relative;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover{
    background: #ffffff;
    color: #000000;
    transition: 0.3s;
}